## Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
## Directory-based project format:
.idea/

## Build directory
target/
out/
sbt-dist/

## Log files
*.log

## JRebel configs
rebel.xml
