<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="com.lightbend.lagom.internal.logback.ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"HH:mm:ss.SSS"} %coloredLevel %logger{45} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="WARN"/>
    <logger name="akka" level="WARN"/>
    <logger name="com.lightbend.lagom" level="INFO"/>

    <logger name="org.apache.cassandra" level="ERROR"/>
    <logger name="com.datastax.driver" level="ERROR"/>
    <logger name="com.datastax.driver.core.ControlConnection" level="OFF"/>
    <logger name="org.apache.kafka" level="WARN"/>

    <logger name="com.github.al.roulette.winnings.impl.WinningsServiceImpl" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
